name: ikw-market-CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    env:
      CI: ""
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

    

  deploy:
    needs: build
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: client
        
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.REACT_APP_AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.REACT_APP_AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2
        
      - name: Deploy to S3
        run: |
          aws s3 cp --recursive --region ap-northeast-2 build s3://ikw-market.shop
